<?php if ($block->canShowBlock()): ?>
<div class="block crosssell">
    <div class="block-title title">
        <strong>Make a donation</strong>
    </div>
    <div><img src="<?php echo $block->getProductImageUrl(); ?>" alt="Product Image" /></div>
    <p><?php echo $block->configTitle(); ?></p>
    <div>
    <?php echo $block->configDescription(); ?>
    </div>
    <?php if ($block->donated()): ?>
    <form class="form" action="<?php echo $block->getCancelFormAction(); ?>" method="post">
        <div class="actions-toolbar">
            <button type="submit" title="Cancel my donation" class="action">
                <span>Cancel my donation</span>
            </button>
        </div>
    </form>
    <?php else: ?>
    <form class="form" action="<?php echo $block->getDonateFormAction(); ?>" method="post">
        <fieldset class="fieldset">
            <div class="field amount required">
                <label class="label" for="amount"><span>Amount</span></label>
                <div class="control">
                    <input name="amount" id="amount" title="Amount" value="<?php echo $block->configAmount(); ?>" class="input-text" type="text" data-validate="{required:true}" aria-required="true">
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <button type="submit" title="Donate" class="action submit primary">
                <span>Donate</span>
            </button>
        </div>
    </form>
    <?php endif; ?>
</div>
<?php endif; ?>
